{% extends 'layoutemploye.html.twig' %}

{% block ahmed1 %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



    <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>

{% endblock %}
{% block fos_user_content %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% trans_default_domain 'FOSUserBundle' %}
<center>
    {{ form_start(form) }}
    <font color="#16B84E"> <h2>  Données Personelles</h2></font>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic"  src="{{ asset('profil.png') }}" class="img-circle img-responsive"> </div>


                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
            <td>
                {{ form_label(form.username) }}
            </td>
            <td>
                {{ form_widget(form.username, { 'attr': {
                    'placeholder': 'Tapez Nom'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.prenom) }}
            </td>
            <td>
                {{ form_widget(form.prenom, { 'attr': {
                    'placeholder': 'Tapez Prenom'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.situationfamiliale) }}
            </td>
            <td>
                {{ form_widget(form.situationfamiliale) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.nbenfants) }}
            </td>
            <td>
                {{ form_widget(form.nbenfants) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.date) }}
            </td>
            <td>
                {{ form_widget(form.date) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.lieunaissance) }}
            </td>
            <td>
                {{ form_widget(form.lieunaissance, { 'attr': {
                    'placeholder': 'Tapez Lieu Naissance'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.nationalite) }}
            </td>
            <td>
                {{ form_widget(form.nationalite, { 'attr': {
                    'placeholder': 'Tapez Nationalité'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.tl) }}
            </td>
            <td>
                {{ form_widget(form.tl, { 'attr': {
                    'placeholder': 'Tapez  Telephone'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.numtlfixe) }}
            </td>
            <td>
                {{ form_widget(form.numtlfixe, { 'attr': {
                    'placeholder': 'Tapez Telephone Fixe'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.email) }}
            </td>
            <td>
                {{ form_widget(form.email, { 'attr': {
                    'placeholder': 'Tapez Email'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.adressepersonelle) }}
            </td>
            <td>
                {{ form_widget(form.adressepersonelle, { 'attr': {
                    'placeholder': 'Tapez Adress Personelle'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.rue) }}
            </td>
            <td>
                {{ form_widget(form.rue, { 'attr': {
                    'placeholder': 'Tapez Rue'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.cite) }}
            </td>
            <td>
                {{ form_widget(form.cite, { 'attr': {
                    'placeholder': 'Tapez Cité'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.ville) }}
            </td>
            <td>
                {{ form_widget(form.ville, { 'attr': {
                    'placeholder': 'Tapez Ville'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.codepostal) }}
            </td>
            <td>
                {{ form_widget(form.codepostal, { 'attr': {
                    'placeholder': 'Tapez Code Postal'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.gouvernorat) }}
            </td>
            <td>
                {{ form_widget(form.gouvernorat, { 'attr': {
                    'placeholder': 'Tapez Gouvernorat'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.pays) }}
            </td>
            <td>
                {{ form_widget(form.pays, { 'attr': {
                    'placeholder': 'Tapez Pays'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.cin) }}
            </td>
            <td>
                {{ form_widget(form.cin, { 'attr': {
                    'placeholder': 'Tapez Cin'} }) }}
            </td>
        </tr>


        <tr>
            <td>
                {{ form_label(form.numcnss) }}
            </td>
            <td>
                {{ form_widget(form.numcnss, { 'attr': {
                    'placeholder': 'Tapez Numero Cnss'} }) }}
            </td>
        </tr>


</tbody></table></div></div></div></div></div></div>


    <br>
    <div>
        <input type="submit" value="Modifier"  class="btn btn-lg btn-success btn-block"
               style="width: 120px ;height: 50px" />
    </div>
    {{ form_end(form) }}
</center>


{% endblock fos_user_content %}
