{% extends "testtestBundle::layoutusertache.html.twig" %}
{% block ahmed1 %}
    <li><a href="{{ path('affichehomesociete') }}">Home</a></li>

    <li class="active"><a href="{{ path('gestionoffreuser') }}">Manage OFFERS</a></li>
    <li><a href="{{ path('desplay_view_postulation_user') }}">Manage POSTULATIONS</a></li>
    <li><a href="{{ path('affichqcmsoc') }}">Management qcm</a></li>
    <li><a href="{{ path('desplay_rendez_vous') }}">Appointment management</a></li>

    <li><a href="{{ path('editcomptesoc') }}">EDIT COMPTE</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}">DISCONNECTION</a></li>

{% endblock %}
{% block fos_user_content %}
    <h1> Add Offre </h1>
    <center>
        {{ form_start(form, { 'action': path('ajoutoffre'), 'attr': { 'class': 'ajoutoffre' } }) }}
        <table>
            <tr>
                <td>
                    {{ form_label(form.titre) }}
                </td>
                <td>
                    {{ form_widget(form.titre) }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form_label(form.description) }}
                </td>
                <td>
                    {{ form_widget(form.description) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.salaire) }}
                </td>
                <td>
                    {{ form_widget(form.salaire) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label((form.lieu)) }}

                </td>
                <td>
                    {{ form_widget((form.lieu)) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label((form.categorie)) }}

                </td>
                <td>
                    {{ form_widget((form.categorie)) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label((form.Qcm)) }}

                </td>
                <td>
                    {{ form_widget((form.Qcm)) }}
                </td>
            </tr>

        </table>

        {{ form_end(form) }}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </center>











{% endblock fos_user_content %}
