{% extends "testtestBundle::layout.html.twig" %}
{% block ahmed1 %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <form method="post" action="{{ path('rechoffre') }}">

                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">

                            <input name="titre" type="text" class="form-control" placeholder="chercher...">
                            <span class="input-group-btn">
       <button type="submit" value="Ajouter Categorie" class="btn btn-default"/>
                                               <i class="fa fa-search"></i>
                                </button>


                                </span>

                        </div>

                        <!-- /input-group -->
                    </li>
                </form>

                <li>
                    <a href="{{ path('listeuser') }}"> Gestion des user </a>
                </li>
                <li>
                    <a href="{{ path('hy') }}">Gestion des categories
                    </a>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="{{ path('listeoffre1') }}"></i> Gestion des offres</a>
                </li>


            </ul>

        </div>
    </div>
{% endblock %}

{% block ahmed %}
    <h1 class="page-header"> The QCM Of This Job Offer </h1>

    <div class="box-body">
        <center>
            <h5> Titre Du Qcm : {{ enance }}</h5> <br>
            <h5> Note D'Acceptation : {{ note }}</h5> <br>

            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                        style="width: 180px;">Question
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        aria-label="Browser: activate to sort column ascending" style="width: 223px;">Reponse
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for model in modeles %}

                    <tr role="row" class="odd">
                        <td>
                            {{ model.enance }}
                        </td>
                        <td>
                            {{ model.reponsecorrect.enance }}
                        </td>

                    </tr>

                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">Question</th>
                    <th rowspan="1" colspan="1"> Reponse</th>
                </tr>
                </tfoot>
            </table>
    </div>
    </div>



    </div>

{% endblock %}
