{% trans_default_domain 'FOSUserBundle' %}
<center>
    {{ form_start(form, { 'action': path('changePasswordso'), 'attr': { 'class': 'changePasswordso' } }) }}
    <table>
        <tr>
            <td>
                {{ form_label(form.current_password) }}
            </td>
            <td>
                {{ form_widget(form.current_password) }}
            </td>
        </tr>

        <tr>
            <td>
                {{ form_label((form.plainPassword.first)) }}
            </td>
            <td>
                {{ form_widget((form.plainPassword.first))}}
                {{ form_errors((form.plainPassword.first)) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label((form.plainPassword.second)) }}
            </td>
            <td>
                {{ form_widget((form.plainPassword.second))}}
                {{ form_errors((form.plainPassword.second)) }}
            </td>
        </tr>

    </table>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>

</center>















{{ form_end(form) }}
