{% extends 'layoutemploye.html.twig' %}

{% block ahmed1 %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <li><a href="{{ path('affichehomepersonne') }}">Home</a></li>

    <li><a href="{{ path('showinformation') }}">Profile</a></li>
    <li  class="active" ><a href="{{ path('updatecandiself') }}">Modifier Profile</a></li>

    <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>

{% endblock %}
{% block fos_user_content %}
    <font color="#22427C"><h3> Modifier Candidat </h3></font>

    <center xmlns:margin-bottom="http://www.w3.org/1999/xhtml">


            {{ form_start(form) }}
            <font color="#16B84E"> <h2> Formulaire Avantage </h2></font>
            {% for message in app.flashes('success') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic"  src="{{ asset('avantages.png') }}" class="img-circle img-responsive"> </div>


                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>                   <tr margin-bottom: 2px;>
                    <td>
                        {{ form_label(form.avantage) }}
                    </td>
                    <td>
                        {{ form_widget(form.avantage) }}
                    </td>
                </tr>
                <tr margin-bottom: 2px;>
                    <td>
                        {{ form_label(form.nom_avantage) }}
                    </td>
                    <td>
                        {{ form_widget(form.nom_avantage, { 'attr': {
                            'placeholder': 'Tapez Nom de L avantage'} }) }}
                    </td>
                </tr>

                <tr margin-bottom: 2px;>
                    <td>
                        {{ form_label(form.frequence) }}
                    </td>
                    <td>
                        {{ form_widget(form.frequence, { 'attr': {
                            'placeholder': 'Tapez Frequence'} }) }}
                    </td>
                </tr>

                <tr margin-bottom: 2px;>
                    <td>
                        {{ form_label(form.combien) }}
                    </td>
                    <td>
                        {{ form_widget(form.combien, { 'attr': {
                            'placeholder': 'Combien ?'} }) }}
                    </td>
                </tr>
                <tr margin-bottom: 2px;>
                    <td>
                        {{ form_label(form.formule_calcul) }}
                    </td>
                    <td>
                        {{ form_widget(form.formule_calcul, { 'attr': {
                            'placeholder': 'Tapez Formule'} }) }}
                    </td>
                </tr>









</tbody></table></div></div></div></div></div></div>            <br>

            <div>
                <input type="submit" value="Ajouter"  class="btn btn-lg btn-success btn-block"
                       style="width: 120px ;height: 50px" />
            </div>     {{ form_end(form) }}



        </center>
















{% endblock fos_user_content %}







