{% extends 'layoutadmin.html.twig' %}
{% block ahmed1 %}
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <form method="post" action="{{ path('rechuser') }}">

                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">

                            <input name="nom" type="text" class="form-control" placeholder="chercher...">
                            <span class="input-group-btn">
       <button type="submit" value="Search " class="btn btn-default"/>
                                               <i class="fa fa-search"></i>
                                </button>



                                </span>

                        </div>

                        <!-- /input-group -->
                    </li>
                </form>
                <li>
                    <a href="{{ path('gestionuser') }}">Gestion des Candidat
                    </a>



                    <a href="#">Gestion Questions
                    </a>
                    <!-- /.nav-second-level -->
                </li>




            </ul>

        </div>
    </div>
{% endblock %}


{% block ahmed %}
    <h1 class="page-header"> Liste Des Question </h1>
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}


        </div>
    {% endfor %}

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
               aria-describedby="example1_info">
            <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Engine version: activate to sort column ascending" style="width: 155px;">Enancé
                </th>

                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="Browser: activate to sort column ascending" style="width: 223px;">Type
                </th>

                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="CSS grade: activate to sort column ascending" style="width: 113px;">Modifier
                </th>

                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                    aria-label="CSS grade: activate to sort column ascending" style="width: 113px;">supprimer
                </th>

            </tr>
            </thead>
            <tbody>


            {% for model in listequestion %}


                <tr role="row" class="odd">
                    <td>{{ model.enance }}</td>
                    <td>{{ model.type }}</td>
                    <td><a href="{{ path('updatquestion', {'id': model.id }) }}">Modifier</a>
                    </td>

                    <td><a href="{{ path('deletquestion', {'id': model.id }) }}" onclick="return confirm('are u sure?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            <tfoot>
            <tr>
                <th rowspan="1" colspan="1">Enancé</th>

                <th rowspan="1" colspan="1">Type</th>
                <th rowspan="1" colspan="1">Modifier</th>

                <th rowspan="1" colspan="1">Supprimer</th>

            </tr>
            </tfoot>
        </table>
    </div>


    <form action="{{ path('crerquestion') }}">
        <input type="submit" value="Ajouter Question" class="btn btn-lg btn-success btn-block"
               style="width: 150px height: 150px"/>
    </form>


{% endblock %}