{% extends 'layoutemploye.html.twig' %}

{% block ahmed1 %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <li><a href="{{ path('affichehomepersonne') }}">Home</a></li>

    <li><a href="{{ path('showinformation') }}">Profile</a></li>
    <li  class="active" ><a href="{{ path('updatecandiself') }}">Modifier Profile</a></li>

    <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>

{% endblock %}
{% block fos_user_content %}
    <font color="#22427C"><h3> Modifier Candidat </h3></font>

    <center xmlns:margin-bottom="http://www.w3.org/1999/xhtml">

        {{ form_start(form) }}
        <font color="#16B84E"> <h2> Formulaire Reference </h2></font>
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic"  src="{{ asset('refe.png') }}" class="img-circle img-responsive"> </div>


                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>              <tr margin-bottom: 2px;>
                <td>
                    {{ form_label(form.nom_prenom) }}
                </td>
                <td>
                    {{ form_widget(form.nom_prenom, { 'attr': {
                        'placeholder': 'Tapez Nom Prenom'} }) }}
                </td>
            </tr>

            <tr margin-bottom: 2px;>
                <td>
                    {{ form_label(form.fonction) }}
                </td>
                <td>
                    {{ form_widget(form.fonction, { 'attr': {
                        'placeholder': 'Tapez Fonction'} }) }}
                </td>
            </tr>
            <tr margin-bottom: 2px;>
                <td>
                    {{ form_label(form.entreprise) }}
                </td>
                <td>
                    {{ form_widget(form.entreprise, { 'attr': {
                        'placeholder': 'Tapez Entreprise'} }) }}
                </td>
            </tr> <tr margin-bottom: 2px;>
                <td>
                    {{ form_label(form.coordonnees) }}
                </td>
                <td>
                    {{ form_widget(form.coordonnees, { 'attr': {
                        'placeholder': 'Tapez Coordonnées'} }) }}
                </td>
            </tr>










</tbody></table></div></div></div></div></div></div>        <br>

        <div>
            <input type="submit" value="Ajouter"  class="btn btn-lg btn-success btn-block"
                   style="width: 120px ;height: 50px" />
        </div>     {{ form_end(form) }}



    </center>















{% endblock fos_user_content %}







