<link href="{{ asset('bower_components/bootstrap/dist/css/tab.css') }}"
      rel="stylesheet">

<h1 style="color:red" class="page-header"> Profile {{ modeles.username }} {{ modeles.prenom}}  </h1>

<h3 style="color:green" class="panel-title"> Donnees Personelle :{{ modeles.username }} {{ modeles.prenom}}</h3>
<table>
    <tr>
        <td>Situation familiale :</td>
        <td>{{ modeles.situationfamiliale }}</td>
    </tr>
    <tr>
        <td>Nombre enfants a charge :</td>
        <td>{{ modeles.nbenfants }}</td>
    </tr>
    <tr>
        <td>Date et lieu naissance :  </td>
        <td>{{modeles.date|date('Y-m-d')}} a {{ modeles.lieunaissance }}</td>
    </tr>

    <tr>
        <td>Nationalité : </td>
        <td>{{ modeles.nationalite }}</td>
    </tr>
    <tr>
        <td>Numero Telephone Mobile </td>
        <td>{{ modeles.tl }}</td>
    </tr>
    <tr>
        <td>Fixe : </td>
        <td>{{ modeles.numtlfixe }}</td>
    </tr>
    <tr>
        <td>Adresse email :  </td>
        <td>
            {{ modeles.email }}
        </td>

    </tr>
    <tr>
        <td>Adresse Personnelle N : </td>
        <td>{{ modeles.adressepersonelle }}</td>
    </tr><tr>
        <td>Rue : </td>
        <td>{{ modeles.rue }}</td>
    </tr><tr>
        <td>Cité : </td>
        <td>{{ modeles.cite }}</td>
    </tr><tr>
        <td>Ville : </td>
        <td>{{ modeles.ville }}</td>
    </tr><tr>
        <td>Code Postal  : </td>
        <td>{{ modeles.codepostal }}</td>
    </tr>
    <tr>
        <td>Gouvernorat  : </td>
        <td>{{ modeles.gouvernorat }}</td>
    </tr><tr>
        <td>Pays  : </td>
        <td>{{ modeles.pays }}</td>
    </tr><tr>
        <td>Cin  : </td>
        <td>{{ modeles.cin }}</td>
    </tr><tr>
        <td>N CNSS  : </td>
        <td>{{ modeles.numcnss }}</td>
    </tr>
</table>
<font color="#16B84E"> <h2>  Cursus scolaire et universitaire </h2></font>
<div class="box-body">
    <table border="1">
        <thead>
        <tr role="row">
            <th>Etablissement
            </th>

            <th >Date Entrée
            </th>
            <th >Date Sortie
            </th>
            <th>Diplome Obtenu
            </th><th >Specialité
            </th>

        </tr>
        </thead>
        <tbody>


        {% for model in modeles2 %}


            <tr>
                <td>{{ model.etablissement }}</td>
                <td>{{model.DateEntree|date('Y-m-d')}}</td>
                <td>{{model.DateSortie|date('Y-m-d')}}</td>
                <td>{{ model.diplome}}</td>

                <td>{{ model.specialite }}</td>


            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Etablissement</th>

            <th rowspan="1" colspan="1">Date Entrée</th>
            <th rowspan="1" colspan="1">Date Sortie</th>
            <th rowspan="1" colspan="1">Diplome Obtenu</th>
            <th rowspan="1" colspan="1">Specialité</th>


        </tr>
        </tfoot>
    </table>
</div>
<font color="#16B84E"> <h2>  Stages  </h2></font>
<div class="box-body">
    <table border="1">
        <thead>
        <tr role="row">
            <th >Etablissement
            </th>

            <th >Date Debut
            </th>
            <th >Date fin
            </th>
            <th >Objet Description
            </th>

        </tr>
        </thead>
        <tbody>


        {% for model in stages %}


            <tr>
                <td>{{ model.etablissement }}</td>
                <td>{{model.Debut|date('Y-m-d')}}</td>
                <td>{{model.fin|date('Y-m-d')}}</td>
                <td>{{ model.ObjetDescription}}</td>



            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Etablissement</th>

            <th rowspan="1" colspan="1">Date Debut</th>
            <th rowspan="1" colspan="1">Date Fin</th>
            <th rowspan="1" colspan="1">Objet Description</th>


        </tr>
        </tfoot>
    </table>
</div>
<font color="#16B84E"> <h2>  Emplois </h2></font>

<div class="box-body">
    <table border="1">
        <thead>
        <tr role="row">
            <th>Date Embauche
            </th>

            <th >Date Depart
            </th>
            <th> Etablissement
            </th>
            <th>Lieu
            </th>
            <th>Secteur
            </th><th>Fonction Exercée
            </th><th>Salaire Net
            </th>
            <th >Motif De Depart
            </th>


        </tr>
        </thead>
        <tbody>


        {% for model in listeemplois %}


            <tr>
                <td>{{model.embauche|date('Y-m-d')}}</td>
                <td>{{model.depart|date('Y-m-d')}}</td>

                <td>{{ model.etablissement }}</td>
                <td>{{ model.lieu}}</td>
                <td>{{ model.secteur}}</td>
                <td>{{ model.fonction}}</td>
                <td>{{ model.SalaireNet}}</td>
                <td>{{ model.MotifDepart}}</td>



            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Date Embauche</th>
            <th rowspan="1" colspan="1">Date Depart</th>

            <th rowspan="1" colspan="1">Etablissement</th>

            <th rowspan="1" colspan="1">Lieu</th>
            <th rowspan="1" colspan="1">Secteur</th>
            <th rowspan="1" colspan="1">FOnction Exercée</th>
            <th rowspan="1" colspan="1">Salaire net</th>
            <th rowspan="1" colspan="1">Motif De Depart</th>


        </tr>
        </tfoot>
    </table>
</div>
<font color="#16B84E"> <h2>  Avantages Percus Lors De La Derniére Expérience </h2></font>

<div class="box-body">
    <table border="1">
        <thead>
        <tr role="row">
            <th>Avantage
            </th>

            <th>Nom De l'avantage
            </th>
            <th> Frequence
            </th>
            <th>Combien?
            </th>
            <th>Formule de Calcul
            </th>


        </tr>
        </thead>
        <tbody>


        {% for model in listeavantages %}


            <tr role="row" class="odd">

                <td>{{ model.avantage }}</td>
                <td>{{ model.NomAvantage}}</td>
                <td>{{ model.frequence}}</td>
                <td>{{ model.combien}}</td>
                <td>{{ model.FormuleCalcul}}</td>



            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Avantage</th>
            <th rowspan="1" colspan="1">Nom de L'avantage</th>

            <th rowspan="1" colspan="1">Frequence</th>

            <th rowspan="1" colspan="1">Combien</th>
            <th rowspan="1" colspan="1">Formule de Calcul</th>

        </tr>
        </tfoot>
    </table>
</div>
<font color="#16B84E"> <h2>  Langues maitrisées </h2></font>

<div class="box-body">
    <table border="1">
        <thead>
        <tr role="row">
            <th>Langues
            </th>

            <th >Niveau 1:Debutant
            </th>
            <th > Niveau 2:lue uniquement
            </th>
            <th >Niveau 3:lue et parlée
            </th>
            <th >Niveau 4:lue,parlée et ecrite
            </th>


        </tr>
        </thead>
        <tbody>


        {% for model in listelangues %}


            <tr role="row" class="odd">

                {% if model.niveaux == 'Débutant' %}
                    <td>{{ model.langues }}</td>

                    <td> X </td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% elseif model.niveaux == 'lue uniquement' %}
                    <td>{{ model.langues }}</td>
                    <td></td>
                    <td>X</td>
                    <td></td>
                    <td></td>

                {% elseif model.niveaux == 'lue et parlée' %}
                    <td>{{ model.langues }}</td>
                    <td></td>
                    <td></td>
                    <td>X</td>

                    <td></td>
                {% else %}
                    <td>{{ model.langues }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>X</td>
                {% endif %}
            </tr>



        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Languages</th>
            <th rowspan="1" colspan="1">Niveau 1:Debutant</th>

            <th rowspan="1" colspan="1">Niveau 2:lue uniquement</th>

            <th rowspan="1" colspan="1">Niveau 3:lue et parlée</th>
            <th rowspan="1" colspan="1">Niveau 4:lue,parlée et ecrite</th>

        </tr>
        </tfoot>
    </table>
</div>
<font color="#16B84E"> <h2>  References </h2></font>


<div class="box-body">


    <table border="1">
        <thead>
        <tr role="row">
            <th>Nom & Prenom
            </th>

            <th>Fonction
            </th>
            <th > Entreprise
            </th>
            <th>Coordonnées
            </th>



        </tr>
        </thead>
        <tbody>


        {% for model in listereference %}


            <tr role="row" class="odd">

                <td>{{ model.NomPrenom }}</td>
                <td>{{ model.fonction}}</td>
                <td>{{ model.entreprise}}</td>
                <td>{{ model.coordonnees}}</td>




            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Nom & Prenom</th>
            <th rowspan="1" colspan="1">FOnction</th>

            <th rowspan="1" colspan="1">Entreprise</th>

            <th rowspan="1" colspan="1">Coordonnées</th>

        </tr>
        </tfoot>
    </table>
</div>
